#overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(-100vh);
    transition: var(--transition-duration-primary);

    &[data-open="true"] {
        transform: rotateY(0);
    }

    z-index: 1;
}

#card {
    display: inline-block;
    padding: 24px;
    background-color: white;
    border-radius: var(--border-radius-primary);
}