#input {
    font-weight: bold;

    padding: 4px 12px;

    border-radius: var(--border-radius-sm);

    border: 0;

    outline: 2px solid gray;

    transition-duration: var(--transition-duration-fast);

    &:focus {
        outline: 4px solid var(--bg-color-primary);
    }
}